<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>state</key>
		<string>Alabama</string>
		<key>capital</key>
		<string>Montgomery</string>
		<key>latitude</key>
		<real>32.361538</real>
		<key>longitude</key>
		<real>-86.279118</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Alaska</string>
		<key>capital</key>
		<string>Juneau</string>
		<key>latitude</key>
		<real>58.301935</real>
		<key>longitude</key>
		<real>-134.41974</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Arizona</string>
		<key>capital</key>
		<string>Phoenix</string>
		<key>latitude</key>
		<real>33.448457</real>
		<key>longitude</key>
		<real>-112.073844</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Arkansas</string>
		<key>capital</key>
		<string>Little Rock</string>
		<key>latitude</key>
		<real>34.736009</real>
		<key>longitude</key>
		<real>-92.33112199999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>California</string>
		<key>capital</key>
		<string>Sacramento</string>
		<key>latitude</key>
		<real>38.555605</real>
		<key>longitude</key>
		<real>-121.468926</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Colorado</string>
		<key>capital</key>
		<string>Denver</string>
		<key>latitude</key>
		<real>39.7391667</real>
		<key>longitude</key>
		<real>-104.984167</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Connecticut</string>
		<key>capital</key>
		<string>Hartford</string>
		<key>latitude</key>
		<real>41.767</real>
		<key>longitude</key>
		<real>-72.67700000000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Delaware</string>
		<key>capital</key>
		<string>Dover</string>
		<key>latitude</key>
		<real>39.161921</real>
		<key>longitude</key>
		<real>-75.52675499999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Florida</string>
		<key>capital</key>
		<string>Tallahassee</string>
		<key>latitude</key>
		<real>30.4518</real>
		<key>longitude</key>
		<real>-84.27276999999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Georgia</string>
		<key>capital</key>
		<string>Atlanta</string>
		<key>latitude</key>
		<real>33.76</real>
		<key>longitude</key>
		<real>-84.39</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Hawaii</string>
		<key>capital</key>
		<string>Honolulu</string>
		<key>latitude</key>
		<real>21.30895</real>
		<key>longitude</key>
		<real>-157.826182</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Idaho</string>
		<key>capital</key>
		<string>Boise</string>
		<key>latitude</key>
		<real>43.613739</real>
		<key>longitude</key>
		<real>-116.237651</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Illinois</string>
		<key>capital</key>
		<string>Springfield</string>
		<key>latitude</key>
		<real>39.78325</real>
		<key>longitude</key>
		<real>-89.650373</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Indiana</string>
		<key>capital</key>
		<string>Indianapolis</string>
		<key>latitude</key>
		<real>39.790942</real>
		<key>longitude</key>
		<real>-86.147685</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Iowa</string>
		<key>capital</key>
		<string>Des Moines</string>
		<key>latitude</key>
		<real>41.590939</real>
		<key>longitude</key>
		<real>-93.62086600000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Kansas</string>
		<key>capital</key>
		<string>Topeka</string>
		<key>latitude</key>
		<real>39.04</real>
		<key>longitude</key>
		<real>-95.69</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Kentucky</string>
		<key>capital</key>
		<string>Frankfort</string>
		<key>latitude</key>
		<real>38.197274</real>
		<key>longitude</key>
		<real>-84.86311000000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Louisiana</string>
		<key>capital</key>
		<string>Baton Rouge</string>
		<key>latitude</key>
		<real>30.45809</real>
		<key>longitude</key>
		<real>-91.14022900000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Maine</string>
		<key>capital</key>
		<string>Augusta</string>
		<key>latitude</key>
		<real>44.323535</real>
		<key>longitude</key>
		<real>-69.765261</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Maryland</string>
		<key>capital</key>
		<string>Annapolis</string>
		<key>latitude</key>
		<real>38.972945</real>
		<key>longitude</key>
		<real>-76.50115700000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Massachusetts</string>
		<key>capital</key>
		<string>Boston</string>
		<key>latitude</key>
		<real>42.2352</real>
		<key>longitude</key>
		<real>-71.0275</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Michigan</string>
		<key>capital</key>
		<string>Lansing</string>
		<key>latitude</key>
		<real>42.7335</real>
		<key>longitude</key>
		<real>-84.5467</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Minnesota</string>
		<key>capital</key>
		<string>Saint Paul</string>
		<key>latitude</key>
		<real>44.95</real>
		<key>longitude</key>
		<real>-93.09399999999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Mississippi</string>
		<key>capital</key>
		<string>Jackson</string>
		<key>latitude</key>
		<real>32.32</real>
		<key>longitude</key>
		<real>-90.20699999999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Missouri</string>
		<key>capital</key>
		<string>Jefferson City</string>
		<key>latitude</key>
		<real>38.572954</real>
		<key>longitude</key>
		<real>-92.189283</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Montana</string>
		<key>capital</key>
		<string>Helana</string>
		<key>latitude</key>
		<real>46.595805</real>
		<key>longitude</key>
		<real>-112.027031</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Nebraska</string>
		<key>capital</key>
		<string>Lincoln</string>
		<key>latitude</key>
		<real>40.809868</real>
		<key>longitude</key>
		<real>-96.67534499999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Nevada</string>
		<key>capital</key>
		<string>Carson City</string>
		<key>latitude</key>
		<real>39.160949</real>
		<key>longitude</key>
		<real>-119.753877</real>
	</dict>
	<dict>
		<key>state</key>
		<string>New Hampshire</string>
		<key>capital</key>
		<string>Concord</string>
		<key>latitude</key>
		<real>43.220093</real>
		<key>longitude</key>
		<real>-71.549127</real>
	</dict>
	<dict>
		<key>state</key>
		<string>New Jersey</string>
		<key>capital</key>
		<string>Trenton</string>
		<key>latitude</key>
		<real>40.221741</real>
		<key>longitude</key>
		<real>-74.75613800000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>New Mexico</string>
		<key>capital</key>
		<string>Santa Fe</string>
		<key>latitude</key>
		<real>35.667231</real>
		<key>longitude</key>
		<real>-105.964575</real>
	</dict>
	<dict>
		<key>state</key>
		<string>New York</string>
		<key>capital</key>
		<string>Albany</string>
		<key>latitude</key>
		<real>42.659829</real>
		<key>longitude</key>
		<real>-73.781339</real>
	</dict>
	<dict>
		<key>state</key>
		<string>North Carolina</string>
		<key>capital</key>
		<string>Raleigh</string>
		<key>latitude</key>
		<real>35.771</real>
		<key>longitude</key>
		<real>-78.63800000000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>North Dakota</string>
		<key>capital</key>
		<string>Bismarck</string>
		<key>latitude</key>
		<real>48.813343</real>
		<key>longitude</key>
		<real>-100.779004</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Ohio</string>
		<key>capital</key>
		<string>Columbus</string>
		<key>latitude</key>
		<real>39.962245</real>
		<key>longitude</key>
		<real>-83.000647</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Oklahoma</string>
		<key>capital</key>
		<string>Oklahoma City</string>
		<key>latitude</key>
		<real>35.482309</real>
		<key>longitude</key>
		<real>-97.534994</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Oregon</string>
		<key>capital</key>
		<string>Salem</string>
		<key>latitude</key>
		<real>44.931109</real>
		<key>longitude</key>
		<real>-123.029159</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Pennsylvania</string>
		<key>capital</key>
		<string>Harrisburg</string>
		<key>latitude</key>
		<real>40.269789</real>
		<key>longitude</key>
		<real>-76.875613</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Rhode Island</string>
		<key>capital</key>
		<string>Providence</string>
		<key>latitude</key>
		<real>41.82355</real>
		<key>longitude</key>
		<real>-71.422132</real>
	</dict>
	<dict>
		<key>state</key>
		<string>South Carolina</string>
		<key>capital</key>
		<string>Columbia</string>
		<key>latitude</key>
		<real>34</real>
		<key>longitude</key>
		<real>-81.035</real>
	</dict>
	<dict>
		<key>state</key>
		<string>South Dakota</string>
		<key>capital</key>
		<string>Pierre</string>
		<key>latitude</key>
		<real>44.367966</real>
		<key>longitude</key>
		<real>-100.336378</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Tennessee</string>
		<key>capital</key>
		<string>Nashville</string>
		<key>latitude</key>
		<real>36.165</real>
		<key>longitude</key>
		<real>-86.78400000000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Texas</string>
		<key>capital</key>
		<string>Austin</string>
		<key>latitude</key>
		<real>30.266667</real>
		<key>longitude</key>
		<real>-97.75</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Utah</string>
		<key>capital</key>
		<string>Salt Lake City</string>
		<key>latitude</key>
		<real>40.7547</real>
		<key>longitude</key>
		<real>-111.892622</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Vermont</string>
		<key>capital</key>
		<string>Montpelier</string>
		<key>latitude</key>
		<real>44.26639</real>
		<key>longitude</key>
		<real>-72.57194</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Virginia</string>
		<key>capital</key>
		<string>Richmond</string>
		<key>latitude</key>
		<real>37.54</real>
		<key>longitude</key>
		<real>-77.45999999999999</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Washington</string>
		<key>capital</key>
		<string>Olympia</string>
		<key>latitude</key>
		<real>47.042418</real>
		<key>longitude</key>
		<real>-122.893077</real>
	</dict>
	<dict>
		<key>state</key>
		<string>West Virginia</string>
		<key>capital</key>
		<string>Charleston</string>
		<key>latitude</key>
		<real>38.349497</real>
		<key>longitude</key>
		<real>-81.63329400000001</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Wisconsin</string>
		<key>capital</key>
		<string>Madison</string>
		<key>latitude</key>
		<real>43.074722</real>
		<key>longitude</key>
		<real>-89.384444</real>
	</dict>
	<dict>
		<key>state</key>
		<string>Wyoming</string>
		<key>capital</key>
		<string>Cheyenne</string>
		<key>latitude</key>
		<real>41.145548</real>
		<key>longitude</key>
		<real>-104.802042</real>
	</dict>
</array>
</plist>
